html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  color: #0e151b;
}

@media screen and (min-width: 540px) {
  .header-top {
    display: flex;
    justify-content: space-between;
  }
}

.icons {
  display: none;
}
.icons__item {
  font-size: 25px;
}
.icons__description {
  font-size: 14px;
  text-decoration: none;
  color: #0e151b;
}
.icons__p {
  margin: 10px;
}
@media screen and (min-width: 540px) {
  .icons {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 5px;
  }
  .icons__item {
    margin: 5px;
    color: #0e151b;
    font-size: 25px;
  }
}

.search {
  display: none;
}
@media screen and (min-width: 540px) {
  .search {
    display: flex;
    margin: 5px;
    gap: 5px;
  }
  .search__image {
    width: 15px;
    height: 15px;
  }
  .search__input {
    width: 80%;
    flex-basis: 80%;
    border: 1px solid #b2a567;
    border-radius: 5px;
    padding-left: 5px;
  }
  .search__input:focus {
    border: 2px solid #b2a567;
    outline: none;
  }
  .search__button {
    padding: 5px;
    border: 1px solid #b2a567;
    background-color: unset;
    border-radius: 5px;
  }
  .search__button:hover {
    background-color: #b2a567;
    color: white;
  }
}

.logo {
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid #b2a567;
}
.logo__image {
  width: 60%;
}
@media screen and (min-width: 540px) {
  .logo__image {
    width: 40%;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 540px) {
  .menu {
    border-bottom: 1px solid #e0ddaa;
    box-shadow: 0 1px 3px #e0ddaa;
    padding-left: 0;
    padding: 10px;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
  }
  .menu__item {
    text-decoration: none;
    color: #0e151b;
    text-transform: uppercase;
    font-size: 16px;
  }
  .menu__item:hover {
    color: #b2a567;
  }
  .menu__item:active {
    color: #b2a567;
  }
}

.hero {
  width: 100%;
}
.hero__background {
  background-image: url(/images/hero-picture-black.png);
  background-position: center;
  background-size: cover;
  height: 200px;
  color: whitesmoke;
  padding: 30px;
}
@media screen and (min-width: 540px) {
  .hero__background {
    height: 250px;
    padding: 50px;
  }
}
@media screen and (min-width: 960px) {
  .hero__background {
    height: 300px;
  }
}
.hero__title {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}
.hero__subtitle {
  font-size: 16px;
}
@media screen and (min-width: 540px) {
  .hero__subtitle {
    width: 80%;
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  .hero__subtitle {
    width: 60%;
    font-size: 20px;
  }
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px 30px;
}
@media screen and (min-width: 960px) {
  .main-content {
    grid-template-columns: 75% 25%;
  }
}

.new-content {
  padding: 10px 30px;
}

.grid-article {
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}

.grid-right-side {
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}

.grid-template__footer {
  display: grid;
  grid-column: 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}
@media screen and (min-width: 540px) {
  .grid-template__footer {
    display: grid;
    grid-column: 1fr;
  }
}
@media screen and (min-width: 960px) {
  .grid-template__footer {
    grid-template-columns: 75% 23%;
    grid-auto-flow: dense;
  }
}

.article {
  position: relative;
  display: flex;
  gap: 15px;
  padding: 10px;
}
@media screen and (min-width: 540px) {
  .article {
    grid-column: 1/span 3;
  }
}
@media screen and (min-width: 960px) {
  .article {
    grid-column: 1/span 1;
  }
}
.article__image {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}
.article__title {
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}
.article__title::after {
  content: " ";
  display: block;
  width: 30vh;
  height: 1px;
  background-color: #b2a567;
  margin: 5px auto;
}
.article__author, .article__genre {
  margin: 5px 0;
}
.article__review {
  text-align: justify;
}

.article:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0ddaa;
}

.button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-transform: uppercase;
  border: 1px solid #b2a567;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: unset;
  color: #b2a567;
}
.button:hover {
  background-color: #b2a567;
  color: white;
}
.button--write-me {
  border: 1px solid #0e151b;
  color: #0e151b;
}
.button--write-me:hover {
  background-color: #0e151b;
  color: white;
}
.button--center {
  position: unset;
  margin-right: 10px;
}

.next-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news, .events {
  border: 1px solid #e0ddaa;
  padding: 20px;
  box-shadow: 1px 1px 20px #e0ddaa;
}
.news__title, .events__title {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.news__title::after, .events__title::after {
  content: " ";
  display: block;
  width: 15vh;
  height: 1px;
  background-color: #b2a567;
  margin: 5px auto;
}

.grid-small {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
}

.flex__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flex__date {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #b2a567;
  border-radius: 50%;
}

.write-me {
  position: relative;
  padding: 20px;
  background-color: #e0ddaa;
}
.write-me__title {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.write-me__title::after {
  content: " ";
  display: block;
  width: 15vh;
  height: 1px;
  background-color: #0e151b;
  margin: 5px auto;
}
.write-me__label {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  color: #0e151b;
}
.write-me__input {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 5px;
}
.write-me__input:focus {
  outline: none;
  border: 2px solid #b2a567;
}
.write-me__textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 25px;
}
.write-me__textarea:focus {
  outline: none;
  border: 2px solid #b2a567;
}

.footer {
  padding: 10px 30px 30px 30px;
  background-color: #e0ddaa;
  text-align: center;
}
.footer__title {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
}
.footer__title::after {
  content: " ";
  display: block;
  width: 15vh;
  height: 1px;
  background-color: #b2a567;
  margin: 5px auto;
}
.footer__about-me {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer__about-content {
  text-align: left;
}
.footer__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.footer__follow-me {
  display: inline-block;
}
.footer__icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.filter {
  display: flex;
  justify-content: right;
  align-items: center;
}
.filter__header {
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.dropdown__button {
  position: relative;
  text-transform: uppercase;
  border: 1px solid #b2a567;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: unset;
  color: #b2a567;
}
.dropdown__button:hover {
  background-color: #b2a567;
  color: white;
}
.dropdown__content {
  display: none;
  position: absolute;
  background-color: #e0ddaa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #0e151b;
  z-index: 1;
}
.dropdown__item {
  padding: 8px 12px;
  display: block;
  border-bottom: 1px solid #b2a567;
}
.dropdown__item:hover {
  background-color: #b2a567;
  color: white;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.list {
  width: 50%;
}
.list__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list__image {
  height: 100px;
}/*# sourceMappingURL=style.css.map */