@use 'colors'; 

.article {
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px colors.$c-third;
    @media screen and (min-width: 540px) {
      grid-column: 1 / span 3;
    }
    @media screen and (min-width: 960px) {
      grid-column: 1 / span 1;
      max-height: 350px;
    }
    &__content {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &__image {
      display: none;
      @media screen and (min-width: 540px) {
        display: block;
        max-width: 20%;
        min-width: 150px;
        max-height: 250px;
        object-fit: cover;
      } 
    }
    &__title {
      margin: 0 0 10px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      &::after {
        content: " ";
        display: block;
        width: 40%;
        height: 1px;
        background-color: colors.$c-second;
        margin: 5px auto;
      }
    }
    &__author, &__genre {
      margin: 5px 0;
      margin: 0;
      color: gray;
      font-style: italic;
    }
    &__review {
      text-align: justify;
    }
    &__score {
      margin-bottom: 35px;
    }
  }
  
  .article:not(:last-child) {
      border-bottom: 1px solid colors.$c-third;
  }

  .article-detail {
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px colors.$c-third;
    margin-bottom: 20px;
    &__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 10px;
      column-gap: 30px;
      @media screen and (min-width: 540px) {
        grid-template-columns: 7fr 3fr;
      }
    }
    &__title {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 400;
      &::after {
        content: " ";
        display: block;
        width: 30vh;
        height: 1px;
        background-color: colors.$c-second;
        margin: 5px auto;
      }
    }
    &__author, &__genre {
      margin: 0;
      color: gray;
      font-style: italic;
      @media screen and (min-width: 540px) {
        grid-column: 1;
      }
    }
    &__image {
      margin-top: 16px;
      max-width: 300px;
      @media screen and (min-width: 540px) {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
        width: 100%;
        object-fit: cover;
      }
    }
    &__review {
      margin: 0;
      text-align: justify;
      @media screen and (min-width: 540px) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }
    &__score {
      @media screen and (min-width: 540px) {
        grid-row: 4 / 5;
      }
    }
  }