@use 'colors'; 

.button {
    text-transform: uppercase;
    border: 1px solid colors.$c-second;
    border-radius: 5px;
    background-color: unset;
    color: colors.$c-second;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    &:hover {
      background-color: colors.$c-second;
      color: white;
    }
    &--firstcolor {
      border: 1px solid colors.$c-first;
      color: colors.$c-first;
      &:hover {
        background-color: colors.$c-first;
        color: white;
      }
    }
    &--absolute {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
    &--center {
      text-align: center;
    }
  }


