@use 'colors'; 

.button {
    text-transform: uppercase;
    border: 1px solid colors.$c-second;
    border-radius: 5px;
    background-color: unset;
    color: colors.$c-second;
    &:hover {
      background-color: colors.$c-second;
      color: white;
    }
    &:hover .button__link {
      color: white;
    }
    &__link {
      display: inline-block;
      color: colors.$c-second;
      text-decoration: none;
      padding: 5px 10px;
      &--firstcolor {
        color: colors.$c-first;
      }
    }
    &--firstcolor {
      border: 1px solid colors.$c-first;
      color: colors.$c-first;
      &:hover {
        background-color: colors.$c-first;
        color: white;
      }
    }
    &--absolute {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
    &--center {
      justify-self: center;
      margin: 0 auto;
      display: block;
    }
  }


