@use 'colors'; 

.filter {
    display: flex;
    justify-content: left;
    align-items: center;
    &__header {
      margin-right: 10px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    &__button {
      position: relative;
      text-transform: uppercase;
      border: 1px solid colors.$c-second;
      border-radius: 5px;
      padding: 5px 15px;
      background-color: unset;
      color: colors.$c-second;
      &:hover {
        background-color: colors.$c-second;
        color: white;
    }
    }
    &__content {
      display: none;
      position: absolute;
      background-color: colors.$c-third;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      color: #0e151b;
      z-index: 1;
    }
    &__item {
      padding: 8px 12px;
      display: block;
      border-bottom: 1px solid #b2a567;
      &:hover {
        background-color: colors.$c-second;
        color: white;
      }
    }
  }
  
  .dropdown:hover .dropdown__content {
    display: block;
  }