@use 'colors'; 

.footer {
    padding: 10px 30px 30px 30px;
    background-color: colors.$c-third;
    text-align: center;
    &__title {
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      font-size: 16px;
      &::after {
        content: " ";
        display: block;
        width: 15vh;
        height: 1px;
        background-color: colors.$c-second;
        margin: 5px auto;
      }
    }
    &__about-me {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
    }
    &__about-content {
        text-align: left;
    }
    &__image {
      display: none;
      @media screen and (min-width: 540px) {
        display: block;
        object-fit: cover;
        width: 120px;
        height: 120px;
        // flex-basis: 20%;
        border-radius: 50%;
      }
    }
    &__follow-me {
      display: inline-block;
    }
    &__icons {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  .grid-template__footer {
    display: grid;
    grid-column: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    @media screen and (min-width: 960px) {
      grid-template-columns: 75% 25%;
      }
  } 