@use 'colors';

.menu {
    display: none;
    @media screen and (min-width: 800px) {
      max-width: 1200px;
      margin: 0 auto;
      // border-bottom: 1px solid colors.$c-third;
      // box-shadow: 0 1px 0  colors.$c-third;
      padding-left: 0;
      padding: 10px;
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      &__item {
        text-decoration: none;
        color: colors.$c-first;
        text-transform: uppercase;
        font-size: 16px;
        &:hover {
          color: colors.$c-second
        }
        &--active {
          color: colors.$c-second
        }
      }
    }
  }

.hamburger-menu {
  &__checkbox {
    position: absolute;
    left: -9999px;
    &:checked ~ .hamburger-menu__list {
      display: block;
      position: absolute;
      top: 30px;
      right: 0;
      z-index: 1;
    }
  }
  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: colors.$c-third;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid colors.$c-second;
    }
    @media screen and (min-width: 800px) {
      display: none;
    }
  }
  &__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    &:hover {
      background-color: colors.$c-second;
      color: whitesmoke;
    }
  }
  &__toggler {
    margin-right: 5px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (min-width: 800px) {
      display: none;
    }
  }
}