@use 'colors';

.menu {
    display: none;
    @media screen and (min-width: 800px) {
      max-width: 1200px;
      margin: 0 auto;
      border-bottom: 1px solid colors.$c-third;
      box-shadow: 0 1px 0  colors.$c-third;
      padding-left: 0;
      padding: 10px;
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      &__item {
        text-decoration: none;
        color: colors.$c-first;
        text-transform: uppercase;
        font-size: 16px;
        &:hover {
          color: colors.$c-second;
        }
        &--active {
          color: colors.$c-second;
        }
      }
    }
  }