@use "colors";

.grid-news {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  @media screen and (min-width: 800px) {
    grid-template-columns: 75% 25%;
    grid-auto-flow: dense;
  }
}

.news {
  &__month {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid colors.$c-third;
    padding: 10px;
  }
  &__month-title {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    &::after {
      content: " ";
      display: block;
      width: 18vh;
      height: 1px;
      background-color: colors.$c-second;
      margin-top: 5px;
    }
  }
  &__item {
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 800px) {
      grid-column: 1 / 2;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__name {
    margin: 0;
  }
  &__date {
    margin: 0;
    border: 1px solid colors.$c-second;
    border-radius: 5px;
    padding: 3px 10px;
    background-color: colors.$c-second;
  }
  &__content {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  &__info {
    margin: 0;
    color: gray;
    font-size: 14px;
    font-style: italic;
  }
  &__image {
      display: none;
      @media screen and (min-width: 540px) {
        display: block;
        max-width: 15%;
        min-width: 120px;
        max-height: 200px;
        object-fit: cover;
      } 
  }
  &__review {
      margin: 0;
  }
  &__link {
    color: gray;
    &:hover {
      color: colors.$c-second;
    }
  }
}

.grid-news .news--right {
  @media screen and (min-width: 800px) {
    grid-column: 2 / 3;
    align-self: start;
  }
}

.news__item:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid colors.$c-third;
}
