@use 'colors'; 

.pagination {
    &__list {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    &__item {
        color: colors.$c-second;
        padding: 5px;
        &:hover {
            background-color: colors.$c-second;
            color: whitesmoke;
            border-radius: 5px;
        }
    }
}