@use 'colors'; 

.news, .events {
    border: 1px solid colors.$c-third;
    padding: 20px;
    box-shadow: 1px 1px 10px colors.$c-third;
    &__title {
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      &::after {
        content: " ";
        display: block;
        width: 15vh;
        height: 1px;
        background-color: colors.$c-second;
        margin: 5px auto;
      }
    }
  }

  .grid-small {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;
  }
  
  .flex__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .flex__date {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid colors.$c-second;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
