@use 'general';

// header

@use 'header';

@use 'menu';

@use 'hero';

// úvodní stránka 

@use 'main-page';
@use 'side-banners';
@use 'write-me';

// article 

@use 'article';

// button 

@use 'buttons';

// novinky 

@use 'news';

// chystam se cist

@use 'to-be-read';

// recenze

@use 'filter';

// žebříčky

@use 'charts';

// footer 

@use 'footer';





