html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

$c-first: #0e151b;
$c-second: #b2a567;
$c-third: #e0ddaa;

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  color: $c-first;
}

.header-top {
  @media screen and (min-width: 540px) {
    display: flex;
    justify-content: space-between;
  }
}

.icons {
  display: none;
  &__image {
    color: $c-first;
    width: 25px;
  }
  &__description {
    font-size: 14px;
    text-decoration: none;
    color: $c-first;
  }
  &__p {
      margin: 10px;
  }
  @media screen and (min-width: 540px) {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 5px;
    &__item {
      margin: 5px;
    }
  }
}

.search {
  display: none;
  @media screen and (min-width: 540px) {
    display: flex;
    margin: 5px;
    &__label {
      flex-basis: 20%;
      text-align: center;
      order: 1;
    }
    &__image {
      color: $c-first;
      width: 25px;
    }
    &__input {
      width: 80%;
      flex-basis: 80%;
      border: 0;
      border-bottom: 1px solid #0e151b;
    }
  }
}

.logo {
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid $c-second;
  &__image {
    width: 60%;
    @media screen and (min-width: 540px) {
      width: 40%;
    }
  }
}

.menu {
  display: none;
  @media screen and (min-width: 540px) {
    padding-left: 0;
    margin: 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    &__item {
      text-decoration: none;
      color: $c-first;
      text-transform: uppercase;
      font-size: 16px;
      &:hover {
        color: $c-second;
      }
    }
  }
}

.hero {
  width: 100%;
  &__background {
    background-image: url(/images/hero-picture-black.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    color: whitesmoke;
    padding: 30px;
    @media screen and (min-width: 540px) {
      height: 250px;
      padding: 50px;
    }
    @media screen and (min-width: 960px) {
      height: 300px;
    }
  }
  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }
  &__subtitle {
    font-size: 14px;
    @media screen and (min-width: 540px) {
      width: 80%;
    }
    @media screen and (min-width: 960px) {
      width: 60%;
    }
  }
}

@media screen and (min-width: 960px) {
  .grid-template {
    display: grid;
    grid-template-columns: 75% 23%;
    grid-auto-rows: auto;
    gap: 20px;
    grid-auto-flow: dense;
  }
}

.main-content {
  padding: 10px 30px;
}

.article {
  grid-column: 1;
  position: relative;
  display: flex;
  gap: 15px;
  &__image {
    width: 25%;
    object-fit: contain;
  }
  &__title {
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    &::after {
      content: " ";
      display: block;
      width: 30vh;
      height: 1px;
      background-color: $c-second;
      margin: 5px auto;
    }
  }
  &__author, &__genre {
    margin: 5px 0;
  }
  &__review {
    text-align: justify;
  }
}

.article:not(:last-child) {
    border-bottom: 1px solid $c-third;
}

.button {
  position: absolute;
  right: 0;
  bottom: 10px;
  text-transform: uppercase;
  border: 1px solid $c-second;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: unset;
  color: $c-second;
  &:hover {
    background-color: $c-second;
    color: white;
  }
}

.news, .events {
  border: 1px solid $c-third;
  padding: 20px;
  &__title {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    &::after {
      content: " ";
      display: block;
      width: 15vh;
      height: 1px;
      background-color: $c-second;
      margin: 5px auto;
    }
  }
}

.grid-small {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.flex__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flex__date {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid $c-second;
  border-radius: 50%;
}

.footer {
  padding: 10px 30px 30px 30px;
  background-color: $c-third;
  text-align: center;
  &__title {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    &::after {
      content: " ";
      display: block;
      width: 15vh;
      height: 1px;
      background-color: $c-second;
      margin: 5px auto;
    }
  }
  &__about-me {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  &__about-content {
      text-align: left;
  }
  &__image {
    object-fit: cover;
    width: 120px;
    height: 120px;
    flex-basis: 20%;
    border-radius: 50%;
  }
  &__follow-me {
    display: inline-block;
  }
  &__icons {
    display: flex;
    gap: 5px;
  }
}
