---
layout: layouts/hlavni-sablona.njk
title: Recenze
pagination:
    data: collections.recenze
    size: 3
    alias: recenzes
---
<section class="content">

<div class="filter">
    <p class="filter__header">Filtr:</p>
    <div class="dropdown">
        <button class="dropdown__button">Žánr</button>
        <div class="dropdown__content">
            <div class="dropdown__item">Česká beletrie</div>
            <div class="dropdown__item">Detektivka</div>
            <div class="dropdown__item">Romantika</div>
            <div class="dropdown__item">Historický román</div>
            <div class="dropdown__item">Fantasy</div>
            <div class="dropdown__item">Thriller</div>
            <div class="dropdown__item">Životopisný divomán</div>
            <div class="dropdown__item">Young Adult</div>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropdown__button">Hodnocení</button>
        <div class="dropdown__content">
            <div class="dropdown__item">5 hvězdiček</div>
            <div class="dropdown__item">4 hvězdiček</div>
            <div class="dropdown__item">3 hvězdiček</div>
            <div class="dropdown__item">2 hvězdiček</div>
            <div class="dropdown__item">1 hvězdiček</div>
        </div>
    </div>
</div>

<div class="grid-article">

{% for recenze in recenzes | reverse %}
    <div class="article">
        <img class="article__image" src="/images/{{recenze.data.foto }}" alt="{{ recenze.data.alt }}">
        <div class="article__content">
            <h2 class="article__title">{{ recenze.data.title }}</h2>
            <p class="article__author">{{ recenze.data.author }}</p>
            <p class="article__genre">{{ recenze.data.genre }}</p>
            <p class="article__review">{{ recenze.templateContent | safe | truncate(500) }}</p>
            <p class="article__score">{{ recenze.data.score }}</p>
            <button class="button button--absolute"><a class="button__link" href="{{ recenze.url }}">Číst dále</a></button>
        </div>
    </div>
{% endfor %}

</div>

<div class="pagination">
    <ul class="pagination__list">
        {% if pagination.href.previous %}<li class="pagination__item"><a class="pagination__item" href="{{ pagination.href.previous }}">Předchozí</a></li>{% endif %}
    {%- for pageEntry in pagination.pages %}
        <li><a class="pagination__item" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
    {%- endfor %}
        {% if pagination.href.next %}<li class="pagination__item"><a class="pagination__item" href="{{ pagination.href.next }}">Další</a></li>{% endif %}
    </ul>
</div>

</section>