<div class="news news--right">
  <h3 class="news__title">Brzy vychází</h3>
  <div class="grid-small">
    <div class="flex__item">
      <div class="flex__date">19. Kvě</div>
      <div class="flex__info">
        <p class="flex__info--title">Medovník s pepřem</p> 
        <p class="flex__info--author">Adreanet Heinrochová</p>
      </div>
    </div>
    <div class="flex__item">
      <div class="flex__date">26. Kvě</div>
      <div class="flex__info">
        <p class="flex__info--title">Legenda o Ladě</p> 
        <p class="flex__info--author">Jana Švecová</p>
      </div>
    </div>
    <div class="flex__item">
      <div class="flex__date">30. Kvě</div>
      <div class="flex__info">
        <p class="flex__info--title">Nepříliš šťastná rodina</p> 
        <p class="flex__info--author">Shari Lapena</p>
      </div>
    </div>
  </div>
</div>
