<div class="news news--right">
  <h3 class="news__title">Brzy vychází</h3>
  <div class="grid-small">
    <div class="flex__item">
      <div class="flex__date">30. Kvě</div>
      <div class="flex__info">
        <p class="flex__info--title">Nepříliš šťastná rodina</p> 
        <p class="flex__info--author">Shari Lapena</p>
      </div>
    </div>
    <div class="flex__item">
      <div class="flex__date">1. Čvn</div>
      <div class="flex__info">
        <p class="flex__info--title">Černý korál</p> 
        <p class="flex__info--author">Andrew Mayne</p>
      </div>
    </div>
    <div class="flex__item">
      <div class="flex__date">1. Čvn</div>
      <div class="flex__info">
        <p class="flex__info--title">Matky</p> 
        <p class="flex__info--author">Brit Bennett</p>
      </div>
    </div>
    <div class="flex__item">
      <div class="flex__date">3. Čvn</div>
      <div class="flex__info">
        <p class="flex__info--title">Alespoň prozatím</p> 
        <p class="flex__info--author">Amélie Salingerová</p>
      </div>
    </div>
  </div>
</div>
