<div class="news news--right">
  <h3 class="news__title">Brzy vychází</h3>
  <div class="grid-small">
    <div class="flex__item">
      <div class="flex__date">25. Pro</div>
      <div class="flex__info">název knihy, autor</div>
    </div>
    <div class="flex__item">
      <div class="flex__date">25. Pro</div>
      <div class="flex__info">název knihy, autor</div>
    </div>
    <div class="flex__item">
      <div class="flex__date">25. Pro</div>
      <div class="flex__info">název knihy, autor</div>
    </div>
  </div>
</div>
